/* Basic Layout
-------------- */
.bg_noise {
  background: linear-gradient(20deg, rgb(22 29 22 / 88%) 10%, rgb(53 47 39 / 88%) 50%), url(/src/scenes/t100/assets/noise.svg);
  filter: contrast(155%) brightness(450%);
  height: 120%;
  position: fixed;
  z-index: -1;
  width: 100%;
}
.bg_noise + .ui.grid>.row {
  padding-top: 0px !important;
}


/* Object Modal
---------------- */
.obj-modal-container {
  background-color: #f5ead6 !important;
  box-shadow: 0 0 1px 1px #c9b69c;
  color: #333333;
  height: 240px;
  width: auto !important;
}
.ui.ui.header.obj-modal-header {
  background-color: #333333;
  color: #ebe6e0;
  padding: 10px 15px;
}
.obj-modal-container .content {
  background-color: #f5ead6 !important;
}
.obj-modal-container:after {
  background: #f5ead6;
  bottom: -0.30714286em;
  content: ' ';
  height: 0.71428571em;
  left: 1em;
  margin-left: 0;
  position: absolute;
  right: auto;
  transform: rotate(45deg);
  top: auto;
  width: 0.71428571em;
}


/* Toolbox
----------- */
.ui.menu.objects .item.header {
  background-color: #20B142 !important;
}
.ui.labeled.icon.menu .item {
  padding-bottom: 0;
}
.ui.vertical.menu.objects .item:before {
  height: 0;
}
.ui.menu.objects .button.active {
  background: rgba(255,255,255,.15);
  color: #fff !important;
}
.ui.labeled.icon.menu .button.item {
  min-width: 3em !important;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}
.ui.labeled.icon.menu .active.item {
  text-transform: uppercase;
}
.ui.card.object {
  background-color: #f5ead6;
  box-shadow: none;
  text-align: left;
  width: 135px !important;
}
.ui.card.object .image {
  top: 15px;
}
.ui.card.object .header {
  font-size: 14px !important;
  position: absolute;
  /* white-space: nowrap; */
  word-break: break-all;
}


.ui.menu.objects a.item:hover {
  background-color: transparent !important;
}


/* Reward Icons
----------------- */
.ui.message.mission {
  background-color: #f5ead6;
  box-shadow: none !important;
}
.mission .info.icon {
  color: #333333;
  opacity: 1 !important;
}
.coins .button {
  background: transparent !important;
  width: max-content;
}
.coins .label {
  background-color: #333333 !important;
  border: none !important;
  color: #ffffff !important;
  display: inline-block !important;
  width: 100px;
  height: 25px;
  left: -20px;
  position: relative;
  text-align: right;
  top: 12px;
  z-index: -1;
}
.coins .ui.progress {
  background-color: #333333;
  height: 25px;
  top: 12px;
  width: 100px;
}


/* Resources Dialog
-------------------- */
.ui.segment.calculation {
  overflow-y: visible !important;
}
.ui.floating.label {
  left: 50% !important;
}
.calculation .ui.segment {
  background: #f5ead6;
  text-align: left;
}
.calculation h3 {
  text-transform: uppercase;
}
.calculation .ui.label {
  background-color: transparent;
}
.calculation .ui.label > .icon {
  margin: 0 0.75em;
}
.calculation .ui.input {
  background-color: transparent;
  border: none;
}
.calculation .ui.button {
  border-radius: 50px;
}
.ui.range {
  width: 100%;
  padding: 1em 0.5em;
  position: relative;
}
.ui.range .inner {
  height: 1.5em;
  position: relative;
}
.ui.range .inner .track {
  width: 100%;
  height: 0.4em;
  top: 0.55em;
  left: 0;
  position: absolute;
  border-radius: 4px;
  background-color: rgba(201 182 156 / 50%);
}
.ui.range .inner .track-fill {
  width: 0;
  height: 0.4em;
  top: 0.55em;
  left: 0;
  position: absolute;
  border-radius: 4px;
  background-color: #1581ba;
}
.ui.range .inner .thumb {
  position: absolute;
  left: 0;
  top: 0;
  height: 1.5em;
  width: 1.5em;
  background: #ffffff -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: #ffffff linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  border-radius: 100%;
  box-shadow: 0px 1px 2px 0 rgb(34 36 38 / 15%), 0 0 0 1px rgb(34 36 38 / 15%) inset;
  z-index: 2;
}
.ui.labeled.range:not(.vertical) > .labels {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ui.labeled.range > .labels {
  height: 1.5em;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
}
.ui.labeled.range > .labels .label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}
.ui.labeled.range > .labels .label:after {
  content: ' ';
  height: 0.75em;
  width: 2px;
  background: #333333;
  position: absolute;
  top: 20px;
  left: 50%;
}
.calculation .ui.progress.success .bar {
  background-color: #21ba45!important;
}

@media only screen and (max-width: 767px) {
  :not(.unstackable) img, .ui.items:not(.unstackable) > .item >.image > img {
      max-width: 100% !important;
      width: auto !important;
      max-height: 250px !important;
  }
}
@media (max-width: 768px) {
  .bg_noise {
    margin-left: calc(-100vw / 2 + 320px / 2);
  }
}
@media (min-width: 1280px) {
  .bg_noise {
    margin-left: calc(-100vw / 2 + 1280px / 2);
    margin-right: calc(-100vw / 2 + 1280px / 2);
  }
}